{% extends 'proyecto_cursoApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block tituloPagina %}
Inicio - Proyectando
{% endblock %}

{% block contenidoPagina %}
<!-- Header-->
<header class="bg-danger p-2 text-dark bg-opacity-10 py-5"> 
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-dark mb-2">Proyectando </h1>
                    <p class="lead text-grey-50 mb-4"> El mejor sitio para encontrar tu curso y seguir perfeccionandote. </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Cursos destacados section-->
<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-6 justify-content-center">
            <div class="col-lg-6">
                <h3>Los Cursos son:</h3>
                <ul class="list-group">
                    {% for x in curso %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="text-danger fw-bold">{{x.nombre}}</div>
                                    {{x.info}}
                            </div>
                            <span class="badge bg-danger rounded-pill">{{x.fecha}}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Eventos destacados section-->
<div class="list-group py-5 px-5 bg-danger p-2 text-dark bg-opacity-10">
    {% for e in evento %}
    <a href="{% url 'evento' %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="text-danger mb-1">{{e.nombre}}</h5>
            <small class="text-muted"></small>
        </div>
        <p class="mb-1">{{e.info}}</p>
        <small class="text-muted">{{e.fecha}}</small>
    </a>
    {% endfor %}
</div>
<!-- Crear comentario -->
<div class="row gx-5 justify-content-center">
    <div class="col-lg-5">
        <form action="/" class="" method="post">
            <h2> Crear un nuevo comentario</h2>
            {% csrf_token %}

            {{ formulario | crispy }}

            <button class="btn btn-outline-danger my-3 d-grid gap-2 col-4" type="submit">Enviar comentario</button>
        </form>
    </div>
</div>

{% endblock %}